<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <!-- Kafka producer -->
    <bean id="namedKafkaProducerServiceImpl" class="cn.com.trends.baseservice.kafka.producer.impl.NamedKafkaProducerServiceImpl"/>
    <bean class="cn.com.trends.baseservice.kafka.worker.impl.KafkaProducerWorkerServiceImpl">
        <constructor-arg ref="namedKafkaProducerServiceImpl"/>
    </bean>

</beans>